<div class="menu">
  <a href="">
    <img src="assets/image/uplogg.png">
  </a>

  <ul>
  </ul>

</div>

<body>
  <div class="services">
    <h1>Our Services</h1>
    <div class="cen">
      <a href="search">
        <div class="service">
          <img src="assets/image/flight.png">
          <h2>Search Flights</h2>
          <p>Just enter source,destination and date to book your seats from available flights .</p>
        </div>
      </a>
      <a href="bookings">
        <div class="service">
          <img src="assets/image/booking.png">
          <h2>Your Bookings</h2>
          <p>View all the bookings done by you till now with flight and ticket details.</p>
        </div>
      </a>

      <a href="feedback">
        <div class="service">
          <img src="assets/image/feedback.png">
          <h2>Write Feedback</h2>
          <p>Have some suggestions for us to improve write them to us in feedback section.</p>
        </div>
      </a>


      <a href="cancel">
        <div class="service">
          <img src="assets/image/cancel.png">
          <h2>Cancel Ticket</h2>
          <p>Would like to cancel your earlier booking for some unfortunate reason go ahead.</p>
        </div>
      </a>

      <div class="service">
        <img src="assets/image/profile.png">
        <h2>Join Viman Club</h2>
        <p>Go ahead and be a part of viman club to get exciting offers on flight tickets.</p>
      </div>

      <a href="">
        <div class="service">
          <img src="assets/image/logout.png">
          <h2>Sign out</h2>
          <p>Press this button to log out from your current account.</p>
        </div>
      </a>
    </div>
  </div>
</body>


