.menu{
  width: 100%;
  font-family: sans-serif;
}
a {
  color: rgb(252, 252, 252);
}
.menu img{
  height: 50px;
  margin: 9px 20px;
  cursor: pointer;
}
.menu ul{
  display: inline-flex;
  color: rgb(136, 8, 29);
  list-style: none;
  right: 02px;
  top:17px;
  position: absolute;
}
.menu ul li{
  
  margin-right: 40px;
  cursor: pointer;
  font-size: 22px;
}
.banner-text{
  background-color: rgb(66, 63, 63);
    
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    height: 105.5vh;
   
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
    
    color: rgba(255, 255, 255, 0.801);
   
  
    
  }

  .loginbox{
    width: 510px;
    height: 698px;
    top: 63.0%;
    left: 18.8%;
    color: #fff;
    background: rgb(0, 0, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 42px;
  }
  
  .t h5{
   
    font-size: 12px;
    color: rgb(136, 8, 29);
    
    padding-top: 5px;
    padding-left: 08px;
    margin-bottom: 10px;
    font-weight: lighter;
  }
 
  h1{
      margin: 0;
      
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgba(136, 8, 29, 0.733);
      font-weight: lighter;
    text-align: center;
    font-size: 40px;
  }
  .loginbox h4{
    color: rgb(255, 255, 255);
    font-size: 14.8px;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 1%;
    padding-top: 0%;
    margin-top: 0;
  }
 
  .loginbox p{
      font-size: 1px;
      margin: 0;
      color: rgba(0, 0, 0, 0);
      padding-right: 120px;
      margin-left: 90px;
      font-weight:bold ;
      margin-top: 15px;
      padding-bottom: 8px;
  }
  .loginbox h6{
    font-size: 12px;
    color: rgb(136, 8, 29);
    
    padding-top: 5px;
    padding-left: 39px;
    margin-bottom: 0px;
    font-weight: lighter
  }
  .form-group  input{
      width: 350px;
      margin-bottom: 05px;
      
  }
  .form-group input[type = "text"], input[type = "password"]{
    margin-left: 36px;
    border:0;
  
    background:rgba(255, 255, 255, 0.842);
    
    
    outline: none;
    height: 33px;
    color: black;
    font-size: 12px ;
  }
  

  .form-group button[class = "btn btn-outline-success"]{
    margin-top: 18px;
    margin-left: 48px;
    border:none;
    outline: none;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 35px;
    width: 167px;
    background: rgb(136, 8, 29);
    color: #fff;
    font-size: 18px;
   border-radius: 20px;
  }
  .form-group button[class = "btn btn-outline-danger"]{
    margin-top: 18px;
    margin-bottom: 10px;
    border:none;
    outline: none;
    height: 35px;
    width: 167px;
    background:rgba(136, 8, 29, 0.575);
    color: #fff;
    font-size: 18px;
   border-radius: 20px;
  }
  .form-group button[class = "btn btn-outline-success"]:hover{
    cursor: pointer;
  background: #000000;
  color: rgb(136, 8, 29);
}

  .loginbox a{
      text-decoration: none;
      
      font-size: 14px;
      line-height: 20px;
      color: darkgrey;
  }

  .loginbox a:hover{
      color: rgb(136, 8, 29);
  }

  .slidebox h2{
    color: rgba(58, 53, 53, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 0%;
    padding-top: 0%;
    margin-top: 0;
    text-align: left;
    font-size: 38.2px;
  }
  .slidebox p{
    color: rgb(255, 255, 255);
    font-size: 16.2px;
    
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 1%;
    padding-top: 0%;
    margin-top: 0;
  }
  .slidebox
  {
    width: 837px;
    height: 698px;
    top: 63%;
    left: 68.9%;
    
    color: #fff;
    background: rgb(0, 0, 0);
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 42px;
  }
  .main{ 
    margin-top: -20px;
    margin-left: -3px;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  

  .slider{

    height: 300px;
    width: 530px;
    box-shadow: 0px 0px 20px #000;
    overflow: hidden;
  }

  .slider figure{
    width: 500%;
    height: 100%;
    position: relative;
    left: 0%;
    animation: 28s infinite slide;
  }

  .slider figure img{
    width: 20%;
    height: 100%;
    float: left;
  }

  @keyframes slide{
    0%{
      left: 0%;
    }
    20%{
      left: -100%;
    }
    40%{
      left: -200%;
    }
    60%{
      left: -300%;
    }
    80%{
      left: -400%;
    }
    100%{
      left: 0%;
    }
   
  }
  
 