

  <head>
    <title>
      Home
    </title>
  </head>
  
  <body>
  
  
    <router-outlet>
  
    </router-outlet>
  
    <footer>
  
      <div class="footer-wrapper">
        <div class="single-footer">
          <h3>Social web</h3> <br>
          <img src="assets/image/facebook.jpg">
          <img src="assets/image/insta.jpg">
          <img src="assets/image/youtube.jpg">
  
  
        </div>
        <div class="single-footer">
          <h2>Navigation</h2>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="login">login</a>
            </li>
            <li>
              <a href="signup">signup</a>
            </li>
  
          </ul>
        </div>
  
        <div class="single-footer">
          <h2>About Us</h2>
          <ul>
            <li>
              <a href="#">About viman</a>
            </li>
            <li>
              <a href="#">FAQs</a>
            </li>
            <li>
              <a href="feedback">Feedback</a>
            </li>
  
          </ul>
  
        </div>
        <div class="single-footer">
          <h2>Customer care</h2>
          <div class="con">
            <p> <img src="assets/image/mail.jpg">
              service.viman@gmail.com</p>
            <p> <img src="assets/image/phone.jpg">
              +114545765</p>
          </div>
  
  
  
  
        </div>
      </div>
    </footer>
  </body>