<div class="menu">
  <a href="">
    <img src="assets/image/uplogg.png">
  </a>

  <ul>

    <li><a href="login">LOG IN</a></li>
    <li><a href="aboutus">ABOUT US</a></li>
    <li><a href="faqs">FAQs</a></li>
    <li><a href="associates">ASSOCIATES</a></li>

  </ul>

</div>
<div class="banner-text">
  <br>
  <img src="assets/image/main.png">
  <p>
    Viman is India's leading online Airplane booking brand providing range of choice of flights for travelers.<br>
    Our aim is to redefine air travel in India to provide Indian travellers a seamless and personalized<br>
    air ticket booking experience. The brand name ‘Viman’ is a hindi word that means ‘Airplane’. <br>
    As it aims to transform the flying experience of travellers in India, Viman christens its <br>
    brand tagline as ‘ Wings of India ’.
  </p>
  <ul>


    <li><a href="signup">SIGNUP</a><span></span></li>
    <li><a href="login">LOGIN</a><span></span></li>
  </ul>
</div>